@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
<h4>You entered this name in the form</h4>
<!-- to display data from post request -->
<p>@ViewBag.Name</p>

<p>You chose this location</p>
<p>@ViewBag.location</p>

